.theme-light [class*="channels"], .theme-light [class*="guildsWrapper"] {
    background-color: #f9f5f4;
    background-color: #f5eded;
}

.theme-light [class*="searchBar-"] {
    background-color: #f9f5f4;
    box-shadow: none;
}

.theme-light [class*="searchBarInner-"] {
    background-color: #e4bcbf;
    border: none;
    color: white;
}

.theme-light [class*="guildInner-"], .theme-light [class*="guildsAdd-"] {
    background-color: #e6c2c5 !important;
    border-color: #e4bcbf;
    color: white;
}

.theme-light [class*="iconForeground-"], .theme-light [class*="linkButtonIcon-"], .theme-light [class*="button-"] {
    color: #e6c2c5;
}
.theme-light [class*="status-"] {
    border-color: #F5EDED;
}

.theme-light [class*="channel-"]:hover a, .theme-light [class*="textArea-"], .theme-light [class*="inner-"], .theme-light [class*="channels-"] > [class*="container-"]  {
    background-color: #F5EDED;
}

.theme-light [class*="downloadAppButton"], .theme-light [class*="guildSeparator-"] {
    display: none;
}

.theme-light [class*="topPill-"] [class*="itemSelected-"] {
    background-color: #e4bcbf;
}

.theme-light [class*="channels-"] > [class*="container-"]:last-child, .theme-light [class*="channel-"][class*="selected-"] a, .theme-light [class*="channelNotice-"], .theme-light [class*="contentSelectedText"], .theme-light [class*="channels"] [class*="header-"] {
    background-color: #e4bcbf;
    box-shadow: none;
}

.theme-light [class*="channel-"][class*="selected-"] [class*="linkButtonIcon-"], .theme-light [class*="mobileIndicator-"], .theme-light [class*="horizontal-"] > [class*="button-"] {
    color: white;
}

.theme-light [class*="attachButtonPlus-"] {
    fill: #e4bcbf;
    color: #e4bcbf;
}

.theme-light [class*="layer-"]>[class*="container-"] {
    background: white;
}

.theme-light [class*="spriteNormal-"] {
    filter: none;
    -webkit-filter: none;
}

.theme-light [class*="nameDefaultText"], .theme-light [class*="nameDefaultVoice"], .theme-light [class*="nameLockedText"], .theme-light [class*="nameLockedVoice"] {
    color: #c7b8be;
    color: #6f557388;
}

.theme-light [class*="nameUnreadText"] {
    color: #4a4543;
}

.theme-light [class*="guild-"] [class*="guildInner-"] {
    border-radius: 50% !important;
    opacity: .36;
    transition: .35s ease all;
}
.theme-light [class*="guild-"] [class*="guildInner-"]:hover {
    opacity: .8;
    transition: .25s ease all;
}
.theme-light [class*="guild-"][class*="selected"] [class*="guildInner-"] {
    box-shadow: 0 0 0 2px #6f5573, 0 0 12px 4px #cfc9f4;
    opacity: 1;
    transition: .15s ease all;
}
.theme-light [class*="guild-"][class*="guildIcon-"] {
    border-radius: 50%;
}
